/********** Base styles **********/
* {
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  margin-top: 50px;
  margin-bottom: 35px;
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
}

.title {
    border: 1px solid black;
    position: relative;
    width: 100px;
    top: -1px;
    right: -1px;
    margin-left: auto;

}

.title p {
    height: 10px;
    margin-top: 0px;
    padding-top: 3px;
    text-align: center;
}

#t_1 {
    background-color: #f4e8a4;
}

#t_2 {
  background-color: #f9906f; 
}

#t_3 {
  background-color: #E6CDAE;
}

h1 {
  margin-bottom: 15px;
}

p {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  font-family: Helvetica;
  color: black;
  font-weight: 700;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  display: flex;
}

#r_1 {
  margin-right: 20px;
}

#r_2 {
  margin-right: 20px;
}

#r_3 {
  margin-right: 20px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .col-lg {
    float: left;
    border: 1px solid black;
    position: relative;
    top: 20px;
    left: .5%;
    background-color: rgba(255, 0, 0, 0.5);
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .col-md {
    float: left;
    border: 1px solid black;
    position: relative;
    top: 20px;
    left: 1%;
    background-color: rgba(28, 0, 153,.5);
  }
}

/********** Small devices only **********/
@media (min-width: 650px) and (max-width: 991px) {
  .col-sm {
    float: left;
    border: 1px solid black;
    position: relative;
    top: 20px;
    left: 1.5%;
    background-color: rgba(2, 73, 20,.5);
  }
}

/********** Extra Small devices only **********/
@media (max-width: 649px) {
  .col-xsm {
    border: 1px solid black;
    position: relative;
    top: 20px;
    left: 1.5%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 251, 0,.5);
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  #r_1 {
    margin-top: 10px;
    margin-right: 20px;
  }
  
  #r_2 {
    margin-top: 10px;
    margin-right: 20px;
  }
  
  #r_3 {
    margin-top: 10px;
    margin-right: 20px;
  }
} 